# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# IDE settings
.vscode/
.idea/


# Python package distribution
*.egg-info/
*.eggs/
*.dist-info/

# Joblib models
*.joblib
